{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account does not grant you access to that page.</p>
        {% else %}
            <p>You need to log in to be able to access that page.</p>
        {% endif %}
    {% endif %}
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <div class="col-sm-6 px-0">
                    <label for="id_{{ field.name }}">{{ field.label }}</label>
                    {% render_field field class="form-control" %}
                    {% for error_message in field.errors %}
                        <div>
                            <small id="id_{{ field.name }}" class="text-danger">{{ error_message }}</small>
                        </div>
                    {% endfor %}
                    {% if field.help_text %}
                        <div>
                            <small id="id_{{ field.name }}" class="text-mutex">{{ field.help_text }}</small>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Log In</button>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
{% endblock %}
