{% extends 'base.html' %}

{% block content %}
    <h2>Profile for {{ user.username }}</h2>
    <p>[<a href="{% url 'password_change' %}">Change password</a>]</p>
    <h3>MaBiWeb usernames:</h3>
    {% if not user.mabiwebusername_set.empty %}
        <ul>
        {% for username in user.mabiwebusername_set.all %}
            <li>
                <form id="remove{{ forloop.counter }}" action="{% url 'nations_mabiweb_bidbot:remove_mabiweb_username' %}" method="get">
                    {% csrf_token %}
                    <strong>{{ username.username }}</strong>
                    [<a href="#" onclick="document.forms['remove{{ forloop.counter }}'].submit();">remove</a>]
                    <input type="hidden" name="username" value="{{ username.username }}">
                </form>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    <p>[<a href="{% url 'nations_mabiweb_bidbot:add_mabiweb_username' %}">add</a>]</p>
{% endblock %}
