{% extends 'base.html' %}

{% block content %}
    <h2>Profile for {{ user.username }}</h2>
    <p><a class="btn btn-primary btn-sm" href="{% url 'password_change' %}">Change password</a></p>
    <h3>MaBiWeb usernames:</h3>
        <div class="py-2 px-3">
            {% for username in user.mabiwebusername_set.all %}
                <div class="py-1">
                    <form id="remove{{ forloop.counter }}" action="{% url 'nations_mabiweb_bidbot:remove_mabiweb_username' %}" method="get">
                        {% csrf_token %}
                        <strong>{{ username.username }}</strong>
                        <a class="btn btn-primary btn-sm mx-3" href="#" onclick="document.forms['remove{{ forloop.counter }}'].submit();">Remove</a>
                        <input type="hidden" name="username" value="{{ username.username }}">
                    </form>
                </div>
            {% endfor %}
            <div class="py-1">
                <a class="btn btn-primary btn-sm" href="{% url 'nations_mabiweb_bidbot:add_mabiweb_username' %}">Add</a>
            </div>
        </div>
{% endblock %}
