{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
    <form method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <div class="col-sm-6 px-0">
                    <label for="id_{{ field.name }}">{{ field.label }}</label>
                    {% render_field field class="form-control" %}
                    {% for error_message in field.errors %}
                        <div>
                            <small id="id_{{ field.name }}" class="text-danger">{{ error_message }}</small>
                        </div>
                    {% endfor %}
                    {% if field.help_text %}
                        <div>
                            <small id="id_{{ field.name }}" class="text-mutex">{{ field.help_text }}</small>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Create Account</button>
    </form>
{% endblock %}
