{% extends 'nations_mabiweb_bidbot/base.html' %}

{% load widget_tweaks %}

{% block content %}
    <h2>{{ match }}</h2>
    {% if player %}
        <h2>Bidding as {{ player }}</h2>
    {% endif %}
    <div class="py-3">
        <form method="post" action="{% url 'nations_mabiweb_bidbot:bid' match.match_id %}">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label" for="id_{{ field.name }}">{{ field.label }}</label>
                    <div class="col-sm-5">
                        {% render_field field class="form-control" %}
                        {% for error_message in field.errors %}
                            <div>
                                <small id="id_{{ field.name }}" class="text-danger">{{ error_message }}</small>
                            </div>
                        {% endfor %}
                        {% if field.help_text %}
                            <div>
                                <small id="id_{{ field.name }}" class="text-mutex">{{ field.help_text }}</small>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <button class="btn btn-primary" type="submit">Review Bid</button>
        </form>
    </div>
{% endblock %}
